body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    border-bottom: 1px solid #000;
}

nav {
    display: flex;
}

nav a.logged-in {
    margin-right: 30px;
}

nav a.logged-out {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

hr.divider-two {
    margin-top: 0%;
    margin-bottom: 0%;
}

footer {
    margin-top: 0%;
    margin-bottom: 0%;
}

div.footer {
    display: flex;
    margin: 0 auto;
}

p.footer-title {
    margin-bottom: 0%;
}

div.description {
    border-right: 1px solid black;
    width: 50%;
    font-size: 1.1em;
}

div.social {
    margin-left: 30px;
}

div.social a {
    display: block;
    color: #000;
    font-size: 1.2em;
}

p.underline {
    font-size: 1.2em;
}

div.social p.underline {
    margin-top: 25px;
}

div.container {
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
}

hr.divider-two {
    margin-top: 0%;
    margin-bottom: 0%;
}

footer {
    border-top: 1px solid black;
    margin-top: 0%;
    }

@media (max-width: 575.98px) {
    /* CSS rules for extra small devices - phones */
    div.container {
        width: 95%;
        text-align: unset;
        margin-left: 5%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices - tablets and others */
}


